.conten{
    background-color: red;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}

div > div {
    background-color: green;
    width: 40px;
    height: 40px;
    position: absolute;   
    border-radius: 100px;
    border-color: black;
    font-size: 30px;
    text-align: center;
}

.first{
    top:55px;
    left:95px;
}

.second{
    right:95px;
    top:55px;
}

.third{
    right:95px;
    bottom: 40px;
}

.forth{
    left: 95px;
    bottom:40px;
}