.conten{
    background-color: red;
    position: relative;
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    border: 3px solid black;
}

div > div {
    background-color: green;
    width: 40px;
    height: 40px;
    position: absolute;   
    border-radius: 100px;
    border: 3px solid black;
    font-size: 30px;
    text-align: center;
}

.first{
    top:-20px;
    left:-20px;
}

.second{
    right:-20px;
    top:-20px;
}

.third{
    right:-20px;
    bottom:-20px;
}

.forth{
    left:-20px;
    bottom:-20px;
}